* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  overflow-x: hidden;
}


.navbar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 40px;
    background: lightblue;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{
    font-size: 40px;
    font-weight: bold;
    color: #333;
}

.nav-links{
    display:flex;
    gap: 30px;
    list-style: none;
    flex-direction: row;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0%;
  height: 3px;
  background-color: black;
  transform: translateX(-50%);
  transition:  0.3s ;
}

.nav-links a:hover::after {
  width: 100%;
}

.burger{
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

.burger span{

  display: block;
  width: 25px;
  height: 3px;
  margin: 2px;  
  background-color: black;
  transition: 0.3s;
}

.burger:hover span{
  background-color: white;
  transition: 0.3s;
}

.logo a{
  text-decoration: none;
  color: black;
}

.logo a:hover{
  color: white;
  padding: 5px;
  border-radius: 5px;
}

@media (max-width: 768px) {

  .nav-links
    {
      display: none;
      flex-direction: column;
      gap:15px; 
    }
  .burger{
    display: flex;
  }

   .nav-links.active {
    max-height: 300px;
  }

}