body{
    background: lightgoldenrodyellow;
    margin: 0;
}


header{
    height: 100px;
    background-color: blue;
}
.sav{
    display:flex;
    justify-content: center;
    gap: 30px;
    background: lightblue;
    outline-color: lightblue;
}