* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
}


.navbar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 40px;
    background: lightblue;
}

.logo{
    font-size: 44px;
    font-weight: bold;
    color: #333;
}

.nav-links{
    display:flex;
    gap: 30px;
    list-style: none;
    flex-direction: row;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0%;
  height: 3px;
  background-color: black;
  transform: translateX(-50%);
  transition:  0.3s ;
}

.nav-links a:hover::after {
  width: 100%;
}